PORT=4000
DB_USER=postgres
DB_PASSWORD=tu_password
DB_NAME=fotaza
DB_HOST=localhost
DB_PORT=5432
SESSION_SECRET=tu_secret_aqui
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
